<!DOCTYPE html>
<html>
<head>
<title> Easy Tensor </title>
<meta charset="UTF-8">
<script src="../static/go-debug.js"></script>
<script src="../static/control.js"></script>
</head>

<body onload="init()">
<div id="canvas">
<span style="display: inline-block; vertical-align: top; padding: 5px; width:25%">
      <div id="myPaletteDiv" style="border: solid 1px black; height: 620px"></div>
</span>
<span style="display: inline-block; vertical-align: top; padding: 5px; width:70%">
      <div id="myDiagramDiv" style="border: solid 1px black; height: 620px">
      </div>
</span>
<!--<button onclick="toJson()"> Generate </button>]-->
<form action ="/generate" method="post" onsubmit="toJson()">
	<input type="hidden" name="ModelDescription">
	<input type="submit" value="Generate" >
</form>
</div>
</body>